<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>axios首页</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.slim.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.slim.min.js"></script>

</head>
<body>
<div class="form">
    <!-- action="/login" 属性指定将表单数据提交到 /login 路径
         name 属性来标识表单数据的键名，这些键名将在控制器层中使用
         控制器层中，您可以使用 @RequestParam 注解来获取表单数据
    -->
    <form>
        <h4>账号密码登录___</h4>
        <input type="text" placeholder="输入账号" id="username" name="username"/><br/>
        <input type="password" placeholder="输入密码" id="password" name="password"/><br/>
        <br/>

        <input type="button" value="登录" id="button"/>
        <br/>
        <a href="enroll">去注册账号</a>
    </form>
</div>

<script type="text/javascript">
    $("#button").click(function (event) {
        // if (!$("#username").val() || !$("#password").val()) {
        //     alert("输入用户名和密码！")
        // } else {
        // }
        axios.post(
            'doLogin_',
            {"username": $("#username").val(),"password": $("#password").val()},
            {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function (response) {

                if(response.data.result)
                    window.location.href = "index_axios";
                else
                    alert("用户名或密码错误！")
            })
            .catch(function (error) {
                // 处理响应错误
                window.location.href = "/"
                console.error(error);
            });
    })

</script>

</body>
</html>