<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.4/axios.js"></script>
</head>
<body>
<a href="login.html">去登陆</a>
<button id="post">post请求</button>
<button id="get">get请求</button>
<button id="delete">delete请求</button>
<button id="patch">patch请求</button>

<script>
    console.dir(axios);
    get.onclick = function (){
        // 不带参数的ajax请求
        axios.get("http://localhost:8088/login").then(result => {
            console.log(result);
            const  {data} = result; // 获取到服务器端的响应数据
            console.log(data);
        }).catch(err => {
            console.log(err)
        });

        // 带参数的ajax请求
        axios.get("http://localhost:8088/login").then(result => {
            console.log(result);
            const  {data} = result; // 获取到服务器端的响应数据
            console.log(data);
        }).catch(err => {
            console.log(err)
        });

    }
</script>
</body>
</html>