<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/publication.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.slim.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.slim.min.js"></script>

</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <form>
            <div class="header">发表话题</div>
            <textarea placeholder="请输入..." id="issue"></textarea>
            <br>
            <input type="button" value="发表" id="button">
        </form>

    </div>
</div>

<script>
    $("#button").click(function (){
        axios.post(
            '/o/doPublication',
            {
                "issue": $("#issue").val(),
            },
            {
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(
            function (response) {
                if (response.data) {
                    window.location.href = "/o/index";
                } else {
                    alert("发表失败")
                    window.location.href = "publication";
                }
            }
        )
    });

</script>

</body>
</html>